* {
  box-sizing: border-box;
}

/* font from google fonts */

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

#sidebar {
  width: 30px;
  height: 100%;
  background-color: black;
}

.cards {
  height: 300px;
  width: 200px;
  margin-left: 5%;
  margin-top: 20%;
  padding: 5px;
}

.images {
  height: 200px;
  width: 255px;
  padding: 5px;
}

.title {
  font-size: 10pt;
}

.name {
  font-size: 8pt;
}

.price {
  font-size: 5pt, bold;
}